 .footernav
 {
     width: 100%;
     height:auto;
     position: absolute;
     top: 93%;
 }
.footerchild{
    width:33%;
    height:60px;
    float:left;
    position:relative ;
    border: 1px solid #000;
    text-align: center;
    height: auto;

}
.footerp{
    display: block ;
    margin-top: 10%
}
a{
    color: #000;
}
.must{
    color: red;
}
input{
    display: inline-block;
    margin-right: 8px;
}
form div{
    margin-top:6%;
}
